# Database - Neon PostgreSQL
DATABASE_URL="postgres://tu_usuario:tu_password@ep-algo-algo.aws.neon.tech/neondb?sslmode=require"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="tu_secreto_super_seguro_generado_con_openssl"

# Email - Configuración SMTP (Gmail, Outlook, etc.)
# Para Gmail, usa App Password (no tu contraseña normal)
# https://myaccount.google.com/apppasswords
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false" # true para puerto 465
SMTP_USER="tu_email@gmail.com"
SMTP_PASS="tu_app_password"
SMTP_FROM="tu_email@gmail.com" #smtp_user y smtp_from deben ser iguales
