# Database - PostgreSQL (Railway, Neon, etc.)
DATABASE_URL="postgres://usuario:password@host:5432/database"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genera_con_openssl_rand_-base64_32"
